
ul.vert-one li {
	position: relative;
	z-index: 5;
	padding: 20px;
	color:red;
	background:#600;
	width: 200px;
}

ul.vert-one li span {
	position: relative;
	z-index: 10;
}

/* after element comes sliding in */

ul.vert-one li:after {
	content:"";
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 100%;
	background: yellow;
	opacity: 0;
}

ul.vert-one li:hover:after {
	width: 100%;
	opacity: 1;
	transition: 500ms;
	-webkit-transition: 500ms;
}
